.success{
    color: white;
    margin-bottom: 10px;
    background: green;
    padding: 10px;
    border-radius: 2px;
}
.error{
    color: white;
    margin-bottom: 10px;
    background: red;
    padding: 10px;
    border-radius: 2px;
}